
:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    /*     height: 100vh; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "sidebar nav nav nav" "sidebar main main content1" "sidebar main main content1" "sidebar main main content1 ";
    /*   grid-gap: 3px; */
    font-family: Roboto;
}

nav {
    background: #fbbf24;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    background: #e5e7eb;
    grid-area: main;
    display: grid;
}

main h4 {
    padding-left: 20px;
    font-family: Roboto sans-serif;
}

main .cont-carte {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .cont-carte p {
    color: #9ca3af;
}

main .cont-carte h3 {
    font-size: 16px;
}

main .cont-carte .carte {
    background: white;
    border-radius: var(--main-radius);
    padding: 10px;
    margin: 10px;
    display: block;
}

main .cont-carte .carte .carte-icons {
    display: flex;
    flex-direction: row-reverse;
}

#sidebar {
    background: #3b82f6;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#sidebar li {
    list-style: none;
    color: white;
    margin: 15px;
}

#sidebar .side-content2 {
    padding-top: 30px;
}

#sidebar .side-content1 .titre {
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 30px;
}
nav .Navarea{
    display:grid;
    grid-template-columns:1fr 3fr 1fr 1fr 1fr;
    margin:10px;
}
nav .morganzone{
    display:grid;
    grid-template-columns:1fr 3fr 1fr 1fr 1fr;
}
nav .morganzone h5{
    font-size:10px;
}
nav .Navarea .sz{
background-color:gray;
margin: 3px;
border-radius: 10px;
height: 17px;
}
.morganadress{
    font-size:15px;
    font-weight: bold;
}
nav .morganzone .text{
    color:white;
    font-size:14px;
    background-color: blue;
    border-radius: 60px;
    justify-items: center;
    height: 20px;
    margin: 2px;
    text-align: center;
    width: 65px;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "sidebar nav nav nav" "sidebar main main content1" "sidebar main main content1" "sidebar main main content1 ";
}

nav {
    display:block;
    background: white;
    grid-area: nav;
}
nav .navarea{
display:grid;
border: solid red;
}
.imgsearch{
    width: 30px;
}
.imgsearch2{
    width: 30px;
    border-radius: 50%;
}
.imgsearch3{
    width: 40px;
    border-radius: 50%;
}
main {
    background: #94a3b8;
    grid-area: main;
}

#sidebar {
    background: #3a7e82;
    grid-area: sidebar;

}

#content1 {
    background: #4ade80;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr;
        grid-template-areas: "nav" "sidebar" "main" "content1";
        grid-gap: 0.2rem;
    }
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "sidebar nav nav nav" "sidebar main main content1" "sidebar main main content1" "sidebar main main content1 ";
    /*   grid-gap: 3px; */
    font-family: Roboto sans-serif;
}

nav {
    background: #fbbf24;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    background: #e5e7eb;
    grid-area: main;
    display: grid;
}

main .cont-carte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .cont-carte .carte {
    background: white;
    border-radius: var(--main-radius);
    padding: 10px;
    margin: 10px;
    display: block;
}

main .cont-carte .carte .carte-icons {
    display: flex;
    flex-direction: row-reverse;
}

#sidebar {
    background: #3b82f6;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

#sidebar li {
    list-style: none;
    color: white;
    margin: 15px;
}

#sidebar .side-content2 {
    padding-top: 30px;
}

#sidebar .side-content1 .titre {
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 30px;
}

#content1 {
    background: #4ade80;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr;
        grid-template-areas: "nav" "sidebar" "main" "content1";
        grid-gap: 0.2rem;
    }
}
